
.example-full-width {
width: 100%;
}

.ingredients-btn {
  margin: 3px;
}

.restrictions-btn{
  margin: 3px;
  background-color: red;
  outline-color: red;
}

.dificulty{
  margin-left: 2%;
  margin-right: 2%;
}

.round_btn{
margin-left: 15%;
margin-right: 15%;
}