<div id="search">

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pesquisa Avançada
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div id="advancedSearch" class="container">
                <div class="row">
                    <!-- Ingredients -->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Ingredientes" [value]="ingredient" (input)="ingredient = $event.target.value">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2" style="float:right">
                                <button type="button" class="btn btn-rounded btn-info" (click)="addIngredient()">Adicionar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor='let i of ingredients; trackBy: index;'>
                                <button type="button" class="btn btn-rounded btn-info ingredients-btn" (mouseleave)="mouseLeftIngredient(i)" (mouseenter)="mouseEnterIngredient(i)"
                                    (click)="removeIngredient(i)">{{i}}</button>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- Restrictions -->
                    <div class="col-md-6">
                       <!-- <div class="row">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Restrições" [value]="restriction" (input)="restriction = $event.target.value">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2" style="float:right">
                                <button type="button" class="btn btn-rounded btn-info " (click)="addRestriction()">Adicionar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor='let r of restrictions; trackBy: index;'>
                                <button type="button" class="restrictions-btn btn btn-rounded btn-info" (click)="removeRestriction(r)">{{r}}</button>
                                <br>
                            </div>
                        </div>-->

                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Restrições" [(ngModel)]="currentRestricion">
                                <mat-option *ngFor="let food of restrictionList" [value]="food">
                                    {{ food }}
                                  </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>

                <div class="row" style="margin-top: 5px">
                    <!-- Number of meals -->
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="number" placeholder="Número de Refeições" [(ngModel)]="number_meals">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Dificulty -->
                    <div class="col-md-5">
                        <div class="row">
                            <label>Dificuldade: </label>
                            <div class="dificulty" *ngIf="dificulty[0]==1">
                                <img src="assets/images/icon/chef_active.png" (click)="dificulty=[0,0,0]" height="30" width="30">
                            </div>
                            <div class="dificulty" *ngIf="dificulty[0]==0">
                                <img src="assets/images/icon/chef_disable.png" (click)="dificulty=[1,0,0]" height="30" width="30">
                            </div>
                            <div class="dificulty" *ngIf="dificulty[1]==1">
                                <img src="assets/images/icon/chef_active.png" (click)="dificulty=[1,1,0]" height="30" width="30">
                            </div>
                            <div class="dificulty" *ngIf="dificulty[1]==0">
                                <img src="assets/images/icon/chef_disable.png" (click)="dificulty=[1,1,0]" height="30" width="30">
                            </div>
                            <div class="dificulty" *ngIf="dificulty[2]==1">
                                <img src="assets/images/icon/chef_active.png" (click)="dificulty=[1,1,1]" height="30" width="30">
                            </div>
                            <div class="dificulty" *ngIf="dificulty[2]==0">
                                <img src="assets/images/icon/chef_disable.png" (click)="dificulty=[1,1,1]" height="30" width="30">
                            </div>
                        </div>
                    </div>
                    <!-- Search -->
                    <div class="col-md-2">
                        <button type="button" style="width:100%" class="btn btn-rounded btn-info" (click)="postFilteredRecipes()">Pesquisar</button>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>

<div id="recipes" class="row card-group" style="margin-top:3%;">
    <div class="col-lg-3 col-md-6 img-responsive" *ngFor='let r of recipes; let i = index'>
        <!-- Card -->
        <div class="card">
            <img class="card-img-top img-responsive" src={{r.img}} alt="comida">
            <div class="card-body">
                <h4 class="card-title">{{r.nome}}</h4>
                <p class="card-text">{{r.descricao}}</p>
                <div class="row">
                    <div  class="col-4">
                        <button type="button" class="round_btn btn btn-info btn-circle"><i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" (click)="goToDesc(r._id)" class=" round_btn btn btn-primary btn-circle"><i class="fa fa-list"></i>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button " class="round_btn btn btn-danger btn-circle ">
                            <i class="fa fa-heart "></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <!-- Card -->

    </div>

</div>