<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img src="assets/images/users/1.jpg" alt="user"/> </div>
            <!-- User profile text-->
            <div>
                <label style="margin: 5%"> Name here </label>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
            <li class="nav-devider"></li>
                <li>
                    <a (click)="showFavorites()">
                        <i></i><span class="hide-menu">Receitas Favoritas</span></a>
                </li>
                <li [class.active]="showMenu === 'profile#favorites'">
                    <a routerLink="/profile#favorites" [routerLinkActive]="['router-link-active']">
                        <i></i><span class="hide-menu">Planeamento</span></a>
                </li>   
                <li [class.active]="showMenu === 'profile#favorites'">
                    <a routerLink="/profile#favorites" [routerLinkActive]="['router-link-active']">
                        <i></i><span class="hide-menu">Lista de Compras</span></a>
                </li>                 
            
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
</aside>